.header-bottom,
.header.active .header-bottom {
    position: relative;
    background: var(--navy);
    bottom: auto;
    top: 0;
    width: 100%;
    padding-block: 20px;
    animation: slideDown 0.25s ease-in-out forwards;
}

@keyframes slideDown {
    0% {
        position: absolute;
        background: var(--raisin-black-1);
    }

    100% {
        position: absolute;
        background: var(--raisin-black-1);
    }
}

.nakshatra-section {
    padding-top: 9rem;
    padding-bottom: 1rem;
}

.nakshatra-container {
    max-width: 70%;
    margin-inline: auto;
}

.location-link {
    text-decoration: none;
    text-decoration: underline;
    cursor: pointer;
    color: inherit
}

.slide {
    animation: fadeIn 1s ease-in-out;
}

.scrolling-container {
    width: 100%;
    margin-bottom: 1%;
    overflow: hidden;
    white-space: nowrap;
}

/* The actual text element being animated */
.scrolling-text {
    display: inline-flex;
    padding-left: 100%;
    animation: scroll-left 20s linear infinite;
}

/* Keyframes define the movement path */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    /* Initial position */
    100% {
        transform: translateX(-100%);
    }
}

/* Optional: Pause on hover to make it easier to read */
.scrolling-container:hover .scrolling-text {
    animation-play-state: paused;
}

.gold-coin {
    display: inline-block;
    width: 25px
}

/* Thumbnail styling */
.card-icon img {
    cursor: pointer;
}

.card-icon {
    cursor: zoom-in;
}

/* Overlay styling */
.zoomed-img-overlay {
    position: fixed;
    /* covers entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    /* semi-transparent background */
    display: none;
    /* hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: zoom-out;
}

.zoomed-img {
    max-width: 90%;
    max-height: 90%;
    border: 3px solid white;
    border-radius: 8px;
}

/* Media Query */
@media (min-width: 150px) {    
    .nakshatra-section {
        padding-top: 11rem;
    }
    .project-images-section{
        flex-direction: column;
    }
    .side-images{
        flex-direction: row;
    }
    .side-image{
        width: 50%;
    }
}

/**
 * responsive for larger than 600px screen
 */

@media (min-width: 600px) {
    .nakshatra-section {
        padding-top: 9rem;
    }
    .project-images-section{
        flex-direction: column;
    }
    .side-images{
        flex-direction: row;
    }
    .side-image{
        width: 50%;
    }
}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {
    .nakshatra-section {
        padding-top: 9rem;
    }
    .project-images-section{
        flex-direction: row;
    }
    .side-images{
        flex-direction: column;
    }
    .side-image{
        width: 100%;
    }
}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
    .nakshatra-section {
        padding-top: 9rem;
    }
    .project-images-section{
        flex-direction: row;
    }
    .side-images{
        flex-direction: column;
    }
    .side-image{
        width: 100%;
    }
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
    .nakshatra-section {
        padding-top: 9rem;
    }
    .project-images-section{
        flex-direction: row;
    }
    .side-images{
        flex-direction: column;
    }
    .side-image{
        width: 100%;
    }
}